RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^configure/?$    reset.php    [NC,L]
RewriteRule    ^sendsms/?$    phone_message.php    [NC,L]
RewriteRule    ^balance/?$    balance.php    [NC,L]
RewriteRule    ^documentation/?$    doc.php    [NC,L]